.pagination{
  .page{
    padding: 5px;
    margin-right: 2px;
    background-color: #4799d1;
    color: white;
    border-radius: 4px;
    padding-left: 8px;
    a{
      color: white;
    }
  }
}
.user-header{
  p{
    color: #a94442 !important;
  }
}
.item_topic{
    background-color: #6c7dbb;
    border-radius: 7px;
    padding: 3px;
    margin-right: 4px;
    a{
      color: white;
    }
}
