#wrapper{
  margin-top: 71px;
  header{
    background-color: #bc8371;
    a#logo{
      display: block;
      float: left;
      img{
        width: 60px;
        height: 60px;
      }
    }
    div.search-bar{
      display: block;
      float: left;
      width: 440px;
      height: 40px;
      margin-left: 30px;
      margin-top: 11px;

      .wr-search{
        display: block;
        .selector_input_interaction{
          input[name="word_search"] {
            display: block;
            width: 435px;
            height: 34px;
          }
        }
        .result-question-search{
          display: none;
          .inner-load-result{

          }
        }
      }
    }
    nav{
      @extend .clearfix !optional;
      margin-bottom: 0px;
      >ul{
        margin-top: 10px;
        >li {
          >a{
            color: #fff7f5;
            &:hover{
              background-color: #FFE5DD !important;
              color: #945947;
            }
          }
          a.dropdown-toggle{
            background-color: #FFE5DD;
            color: #945947;
          }
          .dash-profile{
            background-color: #FFE5DD;
            ul {
              li{
                a{
                  color: #945947;
                  &:hover{
                    background-color: #FFE5DD !important;
                    color: #945947;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #wrapper-body {
    min-height: 500px;
    display: block;
  }
}
