#edit-profile-current-user {
  padding-top: 15px;
  .profile-inner{
    width: 540px;
  }
}

#wr-signup-page{
  .sign-up-inner {
    width: 540px;
  }
}

#wr-login-page{
  .login-inner{
    width: 540px;
    padding-top: 20px;
  }
}
