<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    <%= t "home_page.sub_footer" %>
  </div>
  <!-- Default to the left -->
  <strong>
    <%= t "home_page.copyright" %>
  </strong>
</footer>
